.main {
    display: flex;
    justify-content: space-between;
}

.cart {
    margin-top: 25px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    width: 576px;

    .right {
        background-color: #F5F4F6;
        border-radius: 24px;
    }

    p {

        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #242731;
        margin-top: 10px;

        span {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: #242731;
        }
    }

    .inside-cart {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .date {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 700;
            font-size: 12px;
            line-height: 13px;
            color: #5F6165;

            span {
                padding: 10px 12px;
            }

            span:hover {
                background-color: #2884FF;
                padding: 10px 12px;
                border-radius: 24px;
                color: #ffffff;
            }

            .right-span:hover {
                background-color: #FF764C;
                padding: 10px 12px;
                border-radius: 24px;
                color: #ffffff;
            }
        }

        span {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #5F6165;
        }
    }
}