.booking {
    width: 78%;
    margin: 85px 20px 20px 20%;
    position: relative;


    p {
        font-weight: 700;
        font-size: 30px;
        line-height: 39px;
        color: #242731;
    }

    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        .left-filter {
            display: flex;
            justify-content: space-between;
            gap: 25px;

            .new {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 20px;
                gap: 23px;
                width: 122px;
                height: 36px;
                background: #FFFFFF;
                border-radius: 22.5px;
            }

            .toyota {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 20px;
                gap: 23px;
                width: 143px;
                height: 36px;
                background: #FFFFFF;
                border-radius: 22.5px;
            }


            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #5F6165;
            }
        }

        .right-filter {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            margin-right: 10px;

            .img-filter {
                margin-top: 5px;
            }

        }
    }




    .cart-car {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;



        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #72767C;
        }

        .inside-cart {
            display: flex;
            flex-direction: column;
            width: 32%;
            height: 275px;
            border-radius: 20px;
            background-color: #ffffff;
            padding: 30px;
            margin-bottom: 20px;

            .carimg {
                margin-left: 25px;
            }

            p {
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                color: #1F2128;
            }
        }


        .up {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            margin-bottom: 15px;

            .right-up {
                p {
                    margin-bottom: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 23px;
                    color: #242731;
                }


            }

        }


        .under {
            display: flex;
            flex-direction: column;
            margin-top: 8px;

            .bottom {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                height: 20px;


                .right-under {
                    padding-left: 110px;
                }


                .left-under {
                    display: flex;
                    gap: 20px;
                    justify-content: space-between;

                    .person {
                        display: flex;
                        gap: 10px;
                    }
                }
            }
        }
    }
}