.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 82%;
    position: fixed;
    top: 0px;
    z-index: 100;
    background: #ffffff;
    margin-left: 18%;
    padding: 33px 0px 33px 0px;

    .left {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-left: 30px;

        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            padding: 3px;
            background-color: rgba(245, 244, 246, 1);

            input {
                border: none;
                width: 250px;
                background-color: rgba(245, 244, 246, 1);
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-right: 20px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            object-fit: cover;
        }

    }
}